<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka Online</title>
</head>
<body>
<h3>Witamy w bibliotece online! <span th:text="${todayDate}"/> </h3>
<ul>
    <li><a th:href="@{/book/get/category/fantastyka}">Fantastyka</a></li>
    <li><a th:href="@{/book/get/category/historyczne}">Historyczne</a></li>
    <li><a th:href="@{/book/get/category/dla dzieci}">Dla dzieci</a></li>
    <li><a th:href="@{/book/get/category/informatyka}">Informatyka</a></li>
    <li><a th:href="@{/book/get/category/kryminał}">Kryminał</a></li>
    <li><a th:href="@{/book/get/category/literatura piękna}">Literatura piękna</a></li>

</ul>
<form th:action="@{/book/get/title/{title}}" method="GET">
    <table>
        <tr><td>Tytuł:</td><td><input type="text" id="title" name="title"/></td></tr>
        <tr><td></td><td> <button type="submit">Szukaj</button></td></tr>
    </table>

</form>


<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/book/create}">Dodaj nową książkę</a>
</div>

<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    Zalogowany jako: <span sec:authentication="name"></span> |
    Rola: <span sec:authentication="principal.authorities"></span>

    <div>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Wyloguj się" />
        </form>
    </div>
</div>

<div th:fragment="login" class="logout" sec:authorize="isAnonymous()">
    <a th:href="@{/login}">Zaloguj się </a>
</div>
<div th:fragment="user/signup" class="logout" sec:authorize="isAnonymous()">
    <a th:href="@{/user/signup}">Rejestracja</a>
</div>
</body>
</html>